* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
    display: flex;
}

.marg {
    margin: 0 auto;
}

.just {
    justify-content: center;
}


.mainCon {
    width: 700px;
    height: 300px;
    margin-top: 400px;
    border: 5px solid black;
    border-radius: 5px;
}

.usercard {
    flex-direction: column;
    padding: 30px 10px;
}

.upper {
    justify-content: space-around;
    align-items: center;
}

.username {
    font-size: 48px;
    margin-right: 100px;
}

#likes {
    font-size: 32px;
}

.likeBtn {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #ffd966;
    box-shadow: 6px 6px black;
    border: 4px solid black;
}

.lowwer {
    padding: 40px;
    margin-top: 60px;
}

.fillerText{
    font-size: 32px;
}